.rowCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnCard{
    justify-self: end;
    display: flex;
}

.login{
     justify-items: center;
     margin-top: 100px;
}

.contentPost{
    background-color: #e6e6e6;
}